@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

body{
    background: #eb3636;
    margin: 0;
  
    font-family: 'poppin';
}
.navbar {
    background-color: white ;
    margin: 1em;
.logo{
    text-decoration: nono;
    
}
}