@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

body{
    background: #f2f2f2;
    margin: 0;
  
    font-family: 'poppin';
}
.navbar {
    background-color: white ;
    margin: 1em;
}
.logo{
    text-decoration: nono;
    font-weight: bold;
    color: black;
    font: 1.2em;
}
span{
    color: blue;
}
nav {
    display: none;

}